{% extends 'base_index.html.twig' %}

{% block title %}Notre entreprise{% endblock %}

{% block body %}
<div class="jumbotron col-10 offset-1">
    <h1 class="display-3">Lib2Move toujours plus haut !</h1>
    <p class="lead">Née en 2006 de la volonté et de l'association de 
quatre jeunes diplômés de grandes écoles de commerce, Lib2Move nourrit aujourd'hui 
de grandes ambitions.</p>
    <hr class="my-4" style="background-color:#FFF">
    <p>Lib2Move a vu son CA être multiplié par 10 en 10 ans. Il atteint 
aujourd'hui 40 M€ et symbolise la réussite d'une PME qui a su faire des choix à la fois 
innovants et d'utilité générale.</p>
</div>
{% endblock %}