{% extends 'base_index.html.twig' %}

{% block title %}Nos valeurs{% endblock %}

{% block body %}
<section class="row my-4">
    <div class="col-12 col-lg-6 d-flex">
        <div class="card text-white bg-lightgray">
            <div class="card-header">
                Sens du service
            </div>
            <div class="card-body bg-secondary">
                <h4 class="card-title">Le client au coeur</h4>
                <p class="lead">L'ensemble des employés de Lib2Move 
ont le client au coeur. Sa satisfaction est une boussole pour eux.</p>
                <hr class="my-4" style="background-color: #FFF">
                <p class="card-text">Chaque employé, lorsqu'il est 
recruté, suit une formation en interne de plusieurs semaines afin d'acquérir la culture 
d'entreprise Lib2Move, totalement tournée vers la qualité orientée client. Il est 
également initié à l'utilisation des véhicules proposés à la location, de facon à être 
de bon conseil pour le client.</p>
                <p class="card-text">Les propositions des employés visant 
à améliorer la relation client seront donc écoutés avec beaucoup d'attention et 
appréciées avec toute la considération qu'elles méritent.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 d-flex">
        <div class="card text-white bg-lightgray">
            <div class="card-header">
                Respect de l'environnement
            </div>
            <div class="card-body bg-secondary">
                <h4 class="card-title">La planète au centre</h4>
                <p class="lead">A Lib2Move, nous nous soucions 
beaucoup de l'impact que l'activité humaine peut avoir sur l'environnement.</p>
                <hr class="my-4" style="background-color: #FFF">
                <p class="card-text">C'est la raison pour laquelle nous 
ne proposons à la location que des véhicules électriques. En effet, les véhicules 
électriques sont bien meilleurs pour la préservation de l'environnement que ceux à 
motorisation thermique, en ce sens qu'ils ne rejettent pas de particules ni de gaz à 
effet de serre.</p>
                <p class="card-text">Notre volonté de 
dématérialiser une partie des démarches de location de véhicules à travers ce site va 
aussi dans ce sens. Moins nous consommerons de papiers, mieux notre écosystème environnemental se portera !</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}