{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}

<div class="adminInterface">
    
    <div class="nav nav-bar">
        <h1> - Dashboard - ✅</h1>
    </div>

    <div class="container">
        <div class="row d-flex flex-column">
            <div class="col">
                <a href="{{ path('user_index') }}">Editer un utilisateur</a>
            </div>
            <div class="col">
                <a href="{{ path('role_new') }}">Créer un nouveau rôle</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
