{% extends 'base_admin.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}

<div class="adminInterface">
    
    <div class="nav nav-bar">
    </div>

    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-sm-2 bg-dark text-light" style=" height:100vh;">

                <h5> - Espace administration- ✅</h5>
                <ul class="text-dark">
                    <li><a href="{{ path('user_index') }}">Editer un utilisateur</a></li>
                    <li><a href="{{ path('role_new') }}">Créer un nouveau rôle</a></li>
                    <li><a href="">Modifier accès rôle</a></li>
                </ul>
                <p>Hello</p>
            </div>
            <div class="col-sm-auto">
            </div>
            <div class="col">
                <p>test</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
