<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Lib2Move - Accueil</title>
        <link rel="stylesheet" href="css/bootstrap_cyborg.css" />
        <script defer src="js/all.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    </head>
    <body class="bg-white" style="padding-top: 70px; padding-bottom: 70px;">

        <header class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

            <a href="index.html" class="navbar-brand">
              <img src="images/Logo_Lib2Move" alt="Lib2Move">
            </a>

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-content">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" id="dropdownbtn" data-toggle="dropdown">A propos</a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item"><a href="entreprise.html">Notre entreprise</a></li>
                          <li class="dropdown-item"><a href="implantations.html">Nos implantations</a></li>
                          <li class="dropdown-item"><a href="valeurs.html">Nos valeurs</a></li>
                      </ul>
                  </li>
                  <li class="nav-item"><a href="vehicule.html" class="nav-link">Nos véhicules</a></li>
                  <li class="nav-item"><a href="politique.html" class="nav-link">Notre politique clientèle</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-sign-out-alt"></i>Déconnexion</a></li>
                </ul>
            </div>

        </header>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }} alert alert-dismissible alert-primary">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer class="navbar fixed-bottom ms-auto bg-primary justify-content-center" style="padding: 5px 5px !important;">
             <p class="text-white">@Lib2Move</p> 
        </footer>

        <script src="js/jquery-3.3.1.slim.min.js"></script>
        <script src="js/bootstrap.bundle.js"></script>
    </body>
</html>
